<h1>Recently Added</h1>
<% if (!books.length){ %>
<h3>no result</h3>
<% } else {%> <% books.forEach(function(book){ %>
<img width="100" height="150" src="<%= book.coverImagePath %>" />
<% }) %> <% } %>


