<h1>Recently Added</h1>
<% if (!books.length){ %>
<h3>no result</h3>
<% } else {%> <% books.forEach(function(book){ %>
    <a href="/books/<%= book.id %>">
        <img height="150" width="100" src="<%= book.coverImagePath %>" /> </a
      <% }) %> <% } %>


